body {
  font-size: 1.25em;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  color: darkcyan;
}

#image-holder {
  width: 25%;
  margin: 0 auto;
}

img {
  width: 100%;
}

table {
  border: 1px solid black;
  width: 80%;
  margin: 0 auto;
}

table thead th {
  padding: 0.5em;
}

table tr td {
  padding: 0.5em;
  border: 1px solid black;
}

table td:nth-child(1) {
  width: 30%;
}
