body {
  font-size: 1.5em;
  background-color: lightgoldenrodyellow;
}

main {
  margin: 2em 0 8em 0;
}

#landing-content {
  height: 100vh;
}

#api-details {
  height: 100vh;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  color: darkcyan;
}

#image-holder {
  width: 25vw;
  margin: 0 auto;
}

img {
  width: 100%;
}

.button-holder {
  width: 300px;
  height: auto;
  margin: 0 auto;
}

button {
  background-color: darkcyan;
  color: white;
  width: 100%;
  padding: 1em;
  font-size: 150%;
}

button:hover {
  background-color: white;
  color: darkcyan;
}

#contact-form {
  width: 50vw;
  margin: 0 auto;
}

#contact-form label {
  font-weight: bold;
}

#contact-form input {
  width: 100%;
}

#contact-form textarea {
  width: 100%;
  margin-bottom: 2em;
}
